@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-tap-highlight-color: rgba(0,0,0,0);
	tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  min-height: 100%;
  font: 400 14px 'Roboto';
}

h1 {
  font-size: 56px;
  font-weight: 300;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.70);
  text-align: center;
  padding: 40px 0 32px 0;
}
h1 span {
  display: inline-block;
  vertical-align: top;
}
h1 small {
  display: block;
  font-size: 16px;
  text-align: center;
  line-height: 140%;
  margin-top: 24px;
}

h2 {
  width: 100%;
  font-size: 32px;
  text-align: center;
  color: rgba(0, 0, 0, 0.67);
  margin-bottom: 16px;
}

b {
  font-weight: 500;
}

.examples {
  position: relative;
  left: 40%;
  width: 60%;
}
.example {
  display: -moz-flex;
  -moz-flex-wrap: wrap;
  -moz-justify-content: center;
  -moz-align-items: center;
  -moz-align-content: center;
  display: -ms-flex;
  -ms-flex-wrap: wrap;
  -ms-justify-content: center;
  -ms-align-items: center;
  -ms-align-content: center;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  height: 300px;
  padding: 32px;
  border-bottom: 1px solid #B6B6B6;
}
.button {
  cursor: pointer;
  min-width: 64px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: none;
  padding: 0 8px;
  margin: 8px 4px;
  color: white;
  background-color: #1E94F2;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: rgba(30, 148, 242, 0.75);
}

.info {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  text-align: center;
  padding: 16px;
  color: #212121;
  border-right: 1px solid #B6B6B6;
  overflow-x: hidden;
  overflow-y: auto;
}
.info-current {
  padding: 4px;
  margin: 4px;
}
.info-current .value {
  font-size: 16px;
  margin-bottom: 8px;
}
.info-current .choise {
  color: #0288D1;
}

@media screen and (max-width: 720px) {
  .info {
    position: relative;
    width: 100%;
    height: auto;
    border-right: 0;
    border-bottom: 1px solid #B6B6B6;
  }
  .examples {
    left: 0;
    width: 100%;
  }
}
