@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  margin: 0;
  padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-tap-highlight-color: rgba(0,0,0,0);
	tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  min-height: 100%;
  font: 400 14px 'Roboto';
}

h1 {
  font-size: 56px;
  font-weight: 300;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.64);
  text-align: center;
  padding: 40px 40px 32px 40px;
}
h1 small {
  font-size: 40px;
}

b {
  font-weight: 500;
}

.buttons {
  display: -webkit-flex;
  -webkit-justify-content: center;
  display: flex;
  justify-content: center;
}
.button {
  cursor: pointer;
  min-width: 64px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  outline: none;
  border: none;
  padding: 0 8px;
  margin: 8px 4px;
  color: white;
  background-color: #1E94F2;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: rgba(30, 148, 242, 0.75);
}
